:root{
  --first : -223px;
  --second : -63px;
  --third : 94px;
  --fourth : 252px;
}

body{
  background-image: url("background1.gif");
  background-repeat: no-repeat;
  background-size: cover;
}

.container {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 150px;
    height: 40vh;
    width: 40vw;
    border-radius: 40px;
    background: rgba(104, 104, 104, 0.8);
    backdrop-filter: saturate(180%) blur(10px);
  }
  .cursor {
    border-style: solid;
    border-color: #42ff58;
    height: 70px;
    width: 150px;
    margin-left: var(--first);
    animation-fill-mode: forwards;
    animation-duration : 1s;
    border-radius: 5%;
    border-width: 4px;
  
  }
  .box {
    height: 60px;
    width: 60px;
    border-radius: 30%;
    margin-left: 15px;
    text-align: center;
    background-color: #dbdbdb;
    border-color: #02abe8;
    font-family: 'Lobster', cursive;
   
  }
  
  .array {
    position: absolute;
  }
  
  .bubble {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 10px;
  }

  .nav-item{
    font-family: 'Lobster', cursive;
  }



  #brand{
    font-family: 'Lobster', cursive;
  }

.anim1{animation-name : anim1;}
.anim2{animation-name : anim2;}
.anim3{animation-name: anim3;}
.anim4{animation-name : anim4;}


@keyframes anim1 {
  form{margin-left: var(--first);
  }
  to{
    margin-left: var(--first);
  }
}

 @keyframes anim2 {
   from{margin-left: var(--first);}
    to { margin-left: var(--second); }   
 }

 @keyframes anim3 {
  from{
      margin-left: var(--second);;
  }
  
  to {
    margin-left: var(--third);;
  }
}

@keyframes anim4 {

  from{
      margin-left: var(--third);;
  }

  to {
    margin-left: var(--fourth);
  }
}

@media all and ( max-width :1000px){


  .container{
    width: 90vw;
    height: 20vh;
  }

  .box{
    height: 40px;
    width: 40px;
  }

  .cursor{
    height: 50px;
    width: 110px;
  }

  :root {
    --first : -164px;
    --second : -45px;
    --third : 73px;
    --fourth : 192px;
  }

}

