.container {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 200px;
  }
  .cursor {
    border-style: solid;
    border-color: green;
    height: 70px;
    width: 150px;
    margin-left: -223px;
    animation-fill-mode: forwards;
    animation-duration : 1s;
    border-radius: 5%;
  
  }
  .box {
    height: 60px;
    width: 60px;
    border-radius: 30%;
    margin-left: 15px;
    text-align: center;
  }
  
  .array {
    position: absolute;
  }
  
  .bubble {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 10px;
  }

.anim1{animation-name : anim1;}
.anim2{animation-name : anim2;}
.anim3{animation-name: anim3;}
.anim4{animation-name : anim4;}


@keyframes anim1 {
  form{margin-left: -223px;
  }
  to{
    margin-left: -223px;
  }
}

 @keyframes anim2 {
   from{margin-left: -223px;}
    to { margin-left: -64px;}   
 }

 @keyframes anim3 {
  from{
      margin-left: -64px;
  }
  
  to {
    margin-left: 94px;
  }
}

@keyframes anim4 {

  from{
      margin-left: 94px;
  }

  to {
    margin-left: 252px;
  }
}